[submodule "bignum-core"]
	path = libs/bignum-core
	url = https://github.com/kirill-bayborodov/bignum-core
[submodule "benchmark-framework"]
	path = libs/benchmark-framework
	url = https://github.com/kirill-bayborodov/benchmark-framework
